---
import CustomImageScroll from "../custom-image-scroll.astro";
---

<div class="mb-16">
  <h2
    class="text-3xl mt-6 font-medium lg:text-4xl tracking-tight text-primary dark:text-white"
  >
    Content Creation
  </h2>
  <p class="mt-4 text-lg text-zinc-500 dark:text-zinc-400">
    I make <a
      href="https://www.youtube.com/@shadowstack"
      target="_blank"
      class="underline text-gray-300">YouTube</a
    > videos on web development, including projects I'm currently working on.
  </p>
  <CustomImageScroll />
</div>
